* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
  }
  .container {
    width: 35%;
    text-align: center;
  }
  .container h1 {
    font-size: 24px;
  }
  .container .game-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: auto;
    margin-top: 2rem;
  }
  .container .game-pad input {
    background-color: rgb(232, 231, 231);
    border: 1px solid burlywood;
    outline: none;
    font-size: 24px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
  }
  .container .game-pad .click {
    border: 2px solid black;
  }
  .container p {
    color: white;
    border: 2px solid black;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    padding: 3px 2px;
    font-weight: 600;
    box-shadow: 2px 3px 30px rgb(65, 64, 64);
    transition: 0.3s;
  }
  .container .status {
    animation: notwin 0.1s ease normal 6;
  }
  @keyframes notwin {
    0% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(-5px);
    }
  }
  
  .container button {
    width: 20%;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 3px 8px;
    transition: 0.1s;
    margin-top: 1rem;
    visibility: hidden;
  }
  .container button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  .container .active {
    visibility: visible;
  }
  .container .disable {
    pointer-events: none;
  }
  
  @media only screen and (min-width: 901px) and (max-width: 1300px) {
    .container {
      min-width: 40%;
      max-width: 50%;
    }
  }
  @media only screen and (min-width: 641px) and (max-width: 900px) {
    .container {
      min-width: 55%;
      max-width: 60%;
    }
  }
  @media only screen and (max-width: 640px) {
    .container {
      max-width: 90%;
      min-width: 80%;
    }
  }
  