<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/developer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
    <iframe src="/responsive-navbar-tictactoe/index.html" frameborder="0" scrolling="no" width="100%" style="border: none;"></iframe>
    <div>
        <h1>Developers</h1>
        <div class="image-area">
            <div class="container">
                <div class="img-wrapper">
                    <!-- Developer 1 -->
                    <img src="../images/keshav.jpg" alt="bhaiji">
                    <h2>Keshav Kant</h2>
                    <ul>
                        <li><a href="https://www.instagram.com/keshavkant_/" target="_blank"><i class="fab fa-instagram"></i></a></li>    
                        <li><a href="https://www.linkedin.com/in/keshavkant-cseai/" target="_blank"><i class="fab fa-linkedin"></i></a></li>     
                        <li><a href="https://github.com/Keshav-Kant" target="_blank"><i class="fab fa-github"></i></a></li>  
                    </ul>
                </div>
                <div class="img-wrapper">
                    <!-- Developer 2 -->
                    <img src="../images/san.jpg" alt="Sand">
                    <h2>Sandip Mali</h2>
                    <ul>
                        <li><a href="https://github.com/sandipmalii" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/sandipmalii/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/sannmalli" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCodlTZD1sar7KGuffG_AxhA" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/sandipmali/" target="_blank"><i class="fab fa-linkedin"></i></a></li>  
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="img-wrapper">
                    <!-- Developer 3 -->
                    <img src="../images/boy.jpg" alt="pardeep">
                    <h2>G.Pardeep</h2>
                    <ul>
                        <li><a href="https://example.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://example.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://example.com" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
                <div class="img-wrapper">
                    <!-- Developer 4 -->
                    <img src="../images/grl.jpg" alt="jnk">
                    <h2>M.Sweta</h2>
                    <ul>
                        <li><a href="https://example.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://example.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://example.com" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
<div>
    <footer id="footer">
        <div class="footerparts">
         
          <nav>
            <a href="../HTMLS/privacy.html">Privacy Policy</a> |
            <a href="./term.html">Terms of Service</a> |
            <a href="../HTMLS/about.html">About</a> |
            <a href="../HTMLS/developer.html">Developers</a> |
            <a href="../HTMLS/feedback.html">Feedback</a>
          </nav> 
           <p>© TicTacToe. All rights reserved.</p>
        </div>
      </footer></div>

</html>