<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Components/CSS/footer.css">
</head>
<body> -->
    
<!--=============== FOOTER ===============-->
  <footer id="footer">
    <div class="footercontainer">
     
      <nav>
        <a href="./Components/HTMLS/privacy.html">Privacy Policy</a> |
        <a href="./Components/HTMLS/term.html">Terms of Service</a> |       
        <a href="./Components/HTMLS/about.html">About</a> |
        <a href="./Components/HTMLS/developer.html">Developers</a> |
        <a href="./Components/HTMLS/feedback.html">Feedback</a>
      </nav> 
       <p>© TicTacToe. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
